.myvenv
db.sqlite3
.vscode/
.vs
/myvenv
myvenv/
/__pycache__
__pycache__/
migrations/
/migrations
/uapp/secret_key.txt
.uapp/secret_key.txt
uapp/secret_key.txt/
/uapp/secret_key.txt/
.uapp.sock
.uapp_uwsgi.ini
.uwsgi_params
.uwsgi-emperor.log
.vassals
.test.py
.exit