{% extends 'base.html' %} 
{% block title %}test{% endblock title %}
{% load static %}


{%block content%}
{%include 'components/menu.html'%} 
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Главная страница</h1>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
              <!-- Sales Card -->
              <div class=" col-xxl-4 col-md-6">
                  <div class="card info-card sales-card" id="fBlock" onclick="firstFunc()" style="cursor: pointer;">
                    <div class="card-body">
                      <h5 class="card-title">Старт <span>| Тариф</span></h5>
    
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="ri-rocket-2-fill"></i>
                        </div>
                        <div class="ps-3">
                          <h6>₸3,063</h6>
                          <span class="text-success small pt-1 fw-bold">1</span> <span class="text-muted small pt-2 ps-1">Месяц</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
              <div class=" col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card" id="sBlock" onclick="secondFunc()" style="cursor: pointer;">
                    <div class="card-body">
                      <h5 class="card-title">Оптимальный <span>| Тариф</span></h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="ri-heart-2-fill"></i>
                        </div>
                        <div class="ps-3">
                          <h6>₸4,990</h6>
                          <span class="text-success small pt-1 fw-bold">3</span> <span class="text-muted small pt-2 ps-1">Месяца</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Revenue Card -->
    
                <!-- Customers Card -->
                <div class=" col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card" id="tBlock" onclick="thirdFunc()"  style="cursor: pointer;">
                    <div class="card-body">
                      <h5 class="card-title">Выгодный <span>| Тариф</span></h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                          <h6>₸9,990</h6>
                          <span class="text-danger small pt-1 fw-bold">8</span> <span class="text-muted small pt-2 ps-1">Месяца</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Customers Card -->
          </div>
          <div class="tariff__block" id="first-tariff">
              <div class="tariff__block-inner">
                  <div class="tariff__left-side">
                     <h5 style="color: #012970; font-weight: 600;">ИТОГО</h5> 
                      <p style="color: #012970;">Тариф <span>«Старт»</span> <i class="ri-rocket-2-fill"></i></p>
                      <p style="color: #012970;">1 месяц</p>
                  </div>
                 
                  <div class="tariff_right-side">
                    
                      <p style="color: #012970;">3063 ₸</p>
                  </div>
              </div>
              <div class="tariff__buy-block">
                  <button class="btn btn-primary text-white"><a class="text-white" href="#">Перейти к оплате</a></button>
              </div>
             </div>
            
            <div  class="tariff__block" id="second-tariff">
              <div class="tariff__block-inner">
                  <div class="tariff__left-side">
                      <h5 style="color: #012970; font-weight: 600;">ИТОГО</h5>
                      <p style="color: #012970;">Тариф <span>«Оптимальный»</span> <i class="ri-heart-2-fill"></i></p>
                      <p style="color: #012970;">3 месяца</p>
                  </div>
                  <div class="tariff_right-side">
                      <p style="color: #012970;">4990 ₸</p>
                  </div>
              </div>
              <div class="tariff__buy-block">
                  <button class="btn btn-primary text-white"><a class="text-white" href="#">Перейти к оплате</a></button>
              </div>
             </div>
           
            <div  class="tariff__block" id="third-tariff">
              <div class="tariff__block-inner">
                  <div class="tariff__left-side">
                      <h5 style="color: #012970; font-weight: 600;">ИТОГО</h5>
                      <p style="color: #012970;">Тариф <span>«Выгодный»</span> <i class="bi bi-currency-dollar"></i></p>
                      <p style="color: #012970;">8 месяца</p>
                  </div>
                  <div class="tariff_right-side">
                      <p style="color: #012970;">9990 ₸</p>
                  </div>
              </div>
              <div class="tariff__buy-block">
                  <button class="btn btn-primary text-white"><a class="text-white" href="#">Перейти к оплате</a></button>
              </div>
             </div>
  
             <div class="card recent-sales overflow-auto" style="margin-top: 50px;">
            <div class="card-body">
              <h5 class="card-title">Результаты <span>| Тестирования</span></h5>
  
              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">№</th>
                    <th scope="col">Дата тестирования</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Язык тестирования</th>
                    <th scope="col">Баллов</th>
                    <th scope="col">Статус</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><a href="#">1</a></th>
                    <td>04.11.2022</td>
                    <td><a href="#" class="text-primary">B1, B2</a></td>
                    <td>Руский</td>
                    <td>36/40</td>
                    <td><span class="badge bg-success">Завершен</span></td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#">3</a></th>
                    <td>01.11.2022</td>
                    <td><a href="#" class="text-primary">Tmp</a></td>
                    <td>Руский</td>
                    <td>-/40</td>
                    <td><span class="badge bg-danger">Не завершен</span></td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#">2</a></th>
                    <td>02.11.2022</td>
                    <td><a href="#" class="text-primary">C1, C2</a></td>
                    <td>Казахский</td>
                    <td>34/40</td>
                    <td><span class="badge bg-success">Завершен</span></td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#">4</a></th>
                    <td>01.11.2022</td>
                    <td><a href="#" class="text-primary">D, D1</a></td>
                    <td>Руский</td>
                    <td>14/40</td>
                    <td><span class="badge bg-warning">Время истекло</span></td>
                  </tr>
                </tbody>
              </table>
  
            </div>
  
          </div>
          
        </div>
        <div class="col-lg-4">
         <div class="card info-card">
          <div class="card-body">
            <div>
              <h5 class="card-title">Подписка <span>| На месяц</span></h5>
              <div  class="subs-block">
              <img src="{% static 'assets/img/drivingschool.png'%}" class="drive-img" alt="driveschool">
              <h6>₸20,000</h6>
              <p>Доступ ко всем тестам</p>
              <p>Сеанс до 20 пользователей за раз</p>
            </div>
            <div style="display: flex; justify-content: end">
              <button class="btn btn-primary">Подписаться</button>
            </div>
            </div>
          </div>
         </div>
        </div>
      </div>
      
      </div>
      
</main>
{%endblock content%} 




    
