{% extends "base.html"%}
{% block content %}
<div class="continer">
    <form class="form" method="post" id="form">
        {% csrf_token %}
        <h4>Забыли пароль?</h4>

        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

     
        <div class="form-group">
            <label for="phone_number">Номер телефона</label>
            <input type="text" name="phone_number" class="form-control" placeholder="+7XXXXXXXXXX">
           
        </div>

        
       
        <button class="btn" type="submit">Отправить</button>

    </form>
</div>

{% endblock %}