{% extends 'base.html' %} 
{% block title %} Регистрация {% endblock %}
{%load static%}
{%block owncss%}
  <link rel="stylesheet" href="{% static 'main/css/register.css' %}">
{%endblock%}
{%block content%} 
<div class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Форма Регистраций</h2>
        <!-- <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
      </div>

      <div class="row">

        <form class="form-signin" method="POST">
          {% csrf_token %}

          <div class="col-md-8 order-md-1">
            
              <div class="row">
                <div class="col-md-6 mb-3">
                  {{form.first_name.label}}
                  {{form.first_name}}
                  <div class="invalid-feedback">
                    Требуется действительное имя.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  {{form.last_name.label}}
                  {{form.last_name}}
                  <div class="invalid-feedback">
                    Требуется действительная фамилия.
                  </div>
                </div>
              </div>
  
              <div class="col-md-6 mb-3 form-control1 form-control1">
                {{form.email.label}}
                {{form.email}}
                <div class="invalid-feedback">
                  Пожалуйста, введите действительный адрес электронной почты.
                </div>
              </div>
                <div class="col-md-6 mb-3">
                  {{form.city.label}}
                  {{form.city}}
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
  
                <div class="col-md-6 mb-3 form-control1">
                  {{form.password1.label}}
                  {{form.password1}}
                  <div class="invalid-feedback">
                    Valid first name is Password.
                  </div>
                </div>
  
                <div class="col-md-6 mb-3 form-control1">
                  {{form.password2.label}}
                  {{form.password2}}
                  <div class="invalid-feedback">
                    Valid first name is Password.
                  </div>
                </div>
                
          </div>
              <hr class="mb-4">

        

          <div class="checkbox mb-3"> 
          </div>
          <div class="text-center">
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100%">Зарегистрировать</button>
          <p class="mt-5 mb-3 text-muted">&copy; Qaz Testing</p>
          </div>
        </form>
        {{ form.errors }}

    </div>
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";

        window.addEventListener(
          "load",
          function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName("needs-validation");

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(
              forms,
              function (form) {
                form.addEventListener(
                  "submit",
                  function (event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add("was-validated");
                  },
                  false
                );
              }
            );
          },
          false
        );
      })();
    </script>
  </div>
  {%endblock%} {%block boots%} {%endblock%}
</div>
