{% extends 'base.html' %} 
{% block title %} Регистрация {% endblock %}
{%load static%}
{%block owncss%}
  
{%endblock%}
{%block content%} 
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">QazDrive</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Создать аккаунт</h5>
                  <p class="text-center small">Введите персональные данные чтобы создать аккаунт</p>
                </div>

                <form class="row g-3 needs-validation" method="POST">
                  {% csrf_token %}
                  <div class="col-12">
                    <label for="yourName" class="form-label">Имя</label>
                    {{form.first_name}}
                    <div class="invalid-feedback">Пожалуйста, введите имя!</div>
                  </div>
                  <div class="col-12">
                    <label for="yourName" class="form-label">Фамилия</label>
                    {{form.last_name}}
                    <div class="invalid-feedback">Пожалуйста, введите фамилию!</div>
                  </div>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend" style="width: 12%;">@</span>
                      <div class="form-control1" style="width: 88%;">
                         {{form.email}}
                      </div>
                     
                      <div class="invalid-feedback">Пожалуйста введите электронную почту!</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourName" class="form-label">Выберите город</label>
                    {{form.city}}
                    
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Пароль</label>
                    <div class="form-control1">
                      {{form.password1}}
                    </div>
                    <div class="invalid-feedback">Пожалуйста введите пароь!</div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Повторите пароль</label>
                    <div class="form-control1">
                      {{form.password2}}
                    </div>
                    <div class="invalid-feedback">Пожалуйста введите пароь!</div>
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                      <label class="form-check-label" for="acceptTerms">Я согласен и принимаю <a href="#">условия</a></label>
                      <div class="invalid-feedback">Вы должны согласиться перед регистрацией.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Зарегистрироваться</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">У вас уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                  </div>
                </form>
                {{ form.errors }}
              </div>
            </div>

            

          </div>

    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";

        window.addEventListener(
          "load",
          function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName("needs-validation");

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(
              forms,
              function (form) {
                form.addEventListener(
                  "submit",
                  function (event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add("was-validated");
                  },
                  false
                );
              }
            );
          },
          false
        );
      })();
    </script>
  </div>
  {%endblock%} {%block boots%} {%endblock%}



