{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

<main class="container py-5">
  <header class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h4>Тест №{{ category.id }}</h4>
      <span class="badge bg-primary">Тест категория {{ category.cat_name }}</span>
    </div>
  </header>

  <nav class="d-flex justify-content-center mb-4">
    <div id="pagination-numbers" class="pagination"></div>
  </nav>

  <div class="card">
    <div class="card-body">
      <form method="post" action="">
        {% csrf_token %}
        <ul id="paginated-list" data-current-page="1" aria-live="polite" class="list-unstyled">
          {% for q in questions %}
          <li class="d-none">
            <h5 class="mb-3">{{ q.question_text }}</h5>
            {% if q.url_image != "None" %}
            <img src="{{ q.url_image }}" class="img-fluid mb-3" alt="Question Image">
            {% endif %}
            <div class="form-check">
              <input type="radio" name="{{ q.question_text }}" id="answer1_{{ forloop.counter }}" value="{{ q.answer1 }}" class="form-check-input">
              <label class="form-check-label" for="answer1_{{ forloop.counter }}">{{ q.answer1 }}</label>
            </div>
            <div class="form-check">
              <input type="radio" name="{{ q.question_text }}" id="answer2_{{ forloop.counter }}" value="{{ q.answer2 }}" class="form-check-input">
              <label class="form-check-label" for="answer2_{{ forloop.counter }}">{{ q.answer2 }}</label>
            </div>
            <div class="form-check">
              <input type="radio" name="{{ q.question_text }}" id="answer3_{{ forloop.counter }}" value="{{ q.answer3 }}" class="form-check-input">
              <label class="form-check-label" for="answer3_{{ forloop.counter }}">{{ q.answer3 }}</label>
            </div>
            <div class="form-check">
              <input type="radio" name="{{ q.question_text }}" id="answer4_{{ forloop.counter }}" value="{{ q.answer4 }}" class="form-check-input">
              <label class="form-check-label" for="answer4_{{ forloop.counter }}">{{ q.answer4 }}</label>
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-primary" id="prev-button" disabled>Предыдущий вопрос</button>
          <button class="btn btn-primary" id="next-button">Следующий вопрос</button>
        </div>
        <button type="submit" class="btn btn-success w-100 mt-4">Завершить тест</button>
      </form>
    </div>
  </div>
</main>

<script>
  const paginationNumbers = document.getElementById("pagination-numbers");
  const paginatedList = document.getElementById("paginated-list");
  const listItems = paginatedList.querySelectorAll("li");
  const nextButton = document.getElementById("next-button");
  const prevButton = document.getElementById("prev-button");

  const paginationLimit = 1;
  const pageCount = Math.ceil(listItems.length / paginationLimit);
  let currentPage = 1;

  const disableButton = (button) => {
    button.setAttribute("disabled", true);
  };

  const enableButton = (button) => {
    button.removeAttribute("disabled");
  };

  const handlePageButtonsStatus = () => {
    if (currentPage === 1) {
      disableButton(prevButton);
    } else {
      enableButton(prevButton);
    }

    if (pageCount === currentPage) {
      disableButton(nextButton);
    } else {
      enableButton(nextButton);
    }
  };

  const handleActivePageNumber = () => {
    document.querySelectorAll(".pagination-number").forEach((button) => {
      button.classList.remove("active");
      const pageIndex = Number(button.getAttribute("page-index"));
      if (pageIndex == currentPage) {
        button.classList.add("active");
      }
    });
  };

  const appendPageNumber = (index) => {
    const pageNumber = document.createElement("button");
    pageNumber.className = "btn btn-outline-primary mx-1 pagination-number";
    pageNumber.innerHTML = index;
    pageNumber.setAttribute("page-index", index);
    pageNumber.setAttribute("aria-label", "Page " + index);

    paginationNumbers.appendChild(pageNumber);
  };

  const getPaginationNumbers = () => {
    for (let i = 1; i <= pageCount; i++) {
      appendPageNumber(i);
    }
  };

  const setCurrentPage = (pageNum) => {
    currentPage = pageNum;

    handleActivePageNumber();
    handlePageButtonsStatus();

    const prevRange = (pageNum - 1) * paginationLimit;
    const currRange = pageNum * paginationLimit;

    listItems.forEach((item, index) => {
      item.classList.add("d-none");
      if (index >= prevRange && index < currRange) {
        item.classList.remove("d-none");
      }
    });
  };

  window.addEventListener("load", () => {
    getPaginationNumbers();
    setCurrentPage(1);

    prevButton.addEventListener("click", () => {
      setCurrentPage(currentPage - 1);
    });

    nextButton.addEventListener("click", () => {
      setCurrentPage(currentPage + 1);
    });

    document.querySelectorAll(".pagination-number").forEach((button) => {
      const pageIndex = Number(button.getAttribute("page-index"));

      if (pageIndex) {
        button.addEventListener("click", () => {
          setCurrentPage(pageIndex);
        });
      }
    });
  });
</script>
