{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{%block title%}{% endblock title %}</title>
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <!-- main styles-->
    <link rel="stylesheet" href="{%static 'main/css/nive.css'%}" />

    <!-- assets styles-->
    <!-- Vendor CSS Files -->
    <link
      href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}"
      rel="stylesheet"
    />
    <link
      href="{%static 'assets/vendor/boxicons/css/boxicons.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{%static 'assets/vendor/quill/quill.snow.css'%}"
      rel="stylesheet"
    />
    <link
      href="{%static 'assets/vendor/quill/quill.bubble.css'%}"
      rel="stylesheet"
    />
    <link
      href="{%static 'assets/vendor/remixicon/remixicon.css'%}"
      rel="stylesheet"
    />
    <link
      href="{%static 'assets/vendor/simple-datatables/style.css'%}"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return;
          }
        }
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym"
      );

      ym(91311247, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
      });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/91311247"
          style="position: absolute; left: -9999px"
          alt=""
        /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->
    {%block owncss%} {%endblock owncss%}
  </head>
  <body style="background-color: #f6f9ff">
    {%block content%} {%endblock content%}
    {%block ownjs%} {%endblock ownjs%}
  </body>
  {%block boots%}
  <script src="{%static 'assets/vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/quill/quill.min.js'%}"></script>
  <script src="{%static 'assets/vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{%static 'assets/vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{%static 'assets/js/main.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  {%endblock boots%}
</html>
