{%load static%}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{%url 'index'%}" class="logo d-flex align-items-center">

        <span class="d-none d-lg-block"><img src="{% static 'logo/logoqaztest@2x.png' %}" style="width: 25px!important; height: auto" alt=""></span>
        <span class="d-none d-lg-block">QazTesting</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Пойск" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>

        
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown pe-3">
            <span>{{ request.user.email }}</span>
        </li>
        {% else %}
        <li class="nav-item dropdown pe-3">
          <a class="nav-link collapsed" href="{% url 'login' %}">
            <i style="color: #012970;" class="bi bi-box-arrow-in-right"></i>
            <span style="color: #012970;"> Войти в аккаунт</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </nav>

  </header>
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-heading">Меню</li>

      {%if request.path == '/'%}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'profile'%}">
          <i class="bi bi-person"></i>
          <span>Мой профиль</span>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'index'%}">
          <i class="ri-home-4-line"></i>
          <span>Главная</span>
        </a>
      </li>
      {% endif %}
      
      {%if request.path == '/quiz/'%}
      {% else %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'category' %}">
          <i class="ri-pencil-ruler-2-fill"></i>
          <span>Начать тестирование</span>
        </a>
      </li><!-- End Quiz Nav -->
      {% endif %}

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logoutPage' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Выйти</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
  
