{%load static%}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{%url 'index'%}" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">QazTesting</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Пойск" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>

        

        

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/profile-header.png'%}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user.last_name}} {{request.user.first_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{request.user.last_name}} {{request.user.first_name}}</h6>
              <span>Пользователь</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {%if request.path == '/main/'%}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{%url 'profile'%}">
                <i class="bi bi-person"></i>
                <span>Мой профиль</span>
              </a>
            </li>
            {%else%}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{%url 'index'%}">
                <i class="ri-home-4-line"></i>
                <span>Главная</span>
              </a>
            </li>
            {%endif%}
            <li>
              <hr class="dropdown-divider">
            </li>
           
            

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logoutPage' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Выйти</span>
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </nav>

  </header>
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-heading">Меню</li>

      {%if request.path == '/main/'%}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'profile'%}">
          <i class="bi bi-person"></i>
          <span>Мой профиль</span>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'index'%}">
          <i class="ri-home-4-line"></i>
          <span>Главная</span>
        </a>
      </li>
      {% endif %}
      
     

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="ri-pencil-ruler-2-fill"></i>
          <span>Начать тестирование</span>
        </a>
      </li><!-- End Quiz Nav -->

      

      



      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logoutPage' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Выйти</span>
        </a>
      </li><!-- End Login Page Nav -->

 

    </ul>

  </aside><!-- End Sidebar-->
  
